.hover {
  --s: 0.2em;
  --c: rgb(219, 68, 64);

  color: rgb(50, 115, 70);
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, rgb(219, 68, 64))
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}
.hover:hover {
  --_p: 100%;
}
